<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <title>HeaderFile</title>
</head>
<body>
<header th:fragment="header" id="header">
    <ul>
        <li class="btn btn-outline-light"><a href="/">Start</a></li>
        <li th:if="${isLoggedIn}" class="btn btn-outline-light"><a th:href="@{/users/{Uid}(Uid=${thisUser.uid})}">Profile</a></li>
        <li th:unless="${isLoggedIn}" class="btn btn-outline-light"><a href="/join">Join</a></li>
        <li class="btn btn-outline-light"><a href="/updates">Updates</a></li>
        <li class="btn btn-outline-light"><a href="/users">Users</a></li>
        <li class="btn btn-outline-light"><a href="/groups">Groups</a></li>
        <li class="btn btn-outline-light"><a href="/messages">Messages</a></li>
        <li th:if="${isAdmin}" class="btn btn-outline-light"><a href="/backend">Backend</a></li>
        <li th:if="${isLoggedIn}" class="btn btn-outline-light">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Abmelden" />
            </form>
        </li>
    </ul>
</header>
</body>
</html>