<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <title>HeaderFile</title>
</head>
<body>
<header th:fragment="header" id="header" class="navbar">
    <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Start</a></li>
        <li th:if="${isLoggedIn}" class="nav-item"><a th:href="@{/users/{Uid}(Uid=${thisUser.uid})}" class="nav-link">Mein Profil</a></li>
        <li th:unless="${isLoggedIn}" class="nav-item"><a href="/join" class="nav-link">Anmelden</a></li>
        <li class="nav-item"><a href="/updates" class="nav-link">Updates</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
        <li class="nav-item"><a href="/users" class="nav-link">Benutzer</a></li>
        <li class="nav-item"><a href="/groups" class="nav-link">Gruppen</a></li>
        <li class="nav-item"><a href="/messages" class="nav-link">Nachrichten</a></li>
        <li th:if="${isAdmin}" class="nav-item"><a href="/backend" class="nav-link">Backend</a></li>
        <li th:if="${isLoggedIn}" class="nav-item">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Abmelden" />
            </form>
        </li>
    </ul>
    </div>
</header>
</body>
</html>