<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/social.css">
    <title>Groups</title>
</head>
<body>
<header th:replace="~{import/header :: header}"></header>
<main>
    <h1>Groups</h1>
    <section id="group-list">
        <div class="card group-list-card" th:each="group : ${alleGruppen}">
            <div class="card-body">
                <a th:href="@{/groups/{groupid}(groupid=${group.gid})}">
                    <h2 class="card-title" th:text="${group.name}"></h2>
                </a>
                <p class="card-text" th:text="${group.description}"></p>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{import/footer :: footer}"></footer>
</body>
</html>