<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/social.css">
    <title>Profil von </title>
</head>
<body>
<header th:replace="~{import/header :: header}"></header>
<main>
    <h1>Profil von <span th:text="${userreq.username}"></span></h1>
    <div id="profile-areas">
        <section class="profile-section" id="user-updates">
            <h2>Meine Updates</h2>
            <article th:each="update : ${alleUpdates}">
                <h4 th:text="${update.title}"></h4>
                <p th:text="${update.created}"></p>
                <p th:text="${update.content}"></p>
            </article>
        </section>
        <section class="profile-section" id="user-groups">
            <h2>Meine Gruppen</h2>
            <article th:each="gruppe : ${alleGruppen}">
                <h4 th:text="${gruppe.name}"></h4>
                <p th:text="${gruppe.description}"></p>
            </article>
        </section>
    </div>
</main>
<footer th:replace="~{import/footer :: footer}"></footer>
</body>
</html>