<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/social.css">
    <title>Friends</title>
</head>
<body>
<header th:replace="~{import/header :: header}"></header>
<main class="gridbody">
    <section th:unless="${isLoggedIn}">
        <h2>User online</h2>
        <table>
            <tr th:each="user : ${publicUser}">
                <td th:text="${user.username}"></td>
            </tr>
        </table>
    </section>
    <section th:if="${isLoggedIn}">
        <h2>Freundschaften</h2>
        <table>
            <tr th:each="friend : ${friends}" >
                <!--<td th:switch="${freundschaft.state}">
                    <span th:case="${T(de.joergmorbitzer.Socials.entities.FriendState).ACCEPTED}">Aktiv</span>
                    <span th:case="${T(de.joergmorbitzer.Socials.entities.FriendState).REQUESTED}">Angefragt</span>
                    <span th:case="${T(de.joergmorbitzer.Socials.entities.FriendState).DENIED}">Abgelehnt</span>
                    <span th:case="${T(de.joergmorbitzer.Socials.entities.FriendState).REVOKED}">Entzogen</span>
                    <span th:case="*">Nix</span>
                </td>-->
                <td th:text="${friend.username}"></td>
                <td th:text="${friend.username}"></td>
            </tr>
        </table>
    </section>
    <section th:if="${isLoggedIn}">
        <h2>List of users</h2>
        <table>
            <tr>
                <th>User</th>
                <th>ID</th>
                <th>Status</th>
            </tr>
            <tr th:each="user : ${alleUser}">
                <td th:text="${user.username}"></td>
                <td><a th:href="@{${user.uid}}" th:text="${user.uid}"></a></td>
                <td>
                    <span th:if="${#lists.contains(friends, user)}">Friend -
                    <form method="post" th:action="@{/users/revoke/{userid}(userid=${user.uid})}" action="#">
                        <button type="submit" name="revokeFs">Revoke</button>
                    </form>
                    </span>
                    <span th:if="${#lists.contains(eigeneAnfragen, user)}">Waiting</span>
                    <span th:if="${#lists.contains(fremdeAnfragen, user)}">
                        <form method="post" th:action="@{/users/reactToRequest/{userid}(userid=${user.uid})}" action="#">
                            <button type="submit" name="accept" value="1">Accept</button>
                            <button type="submit" name="accept" value="0">Deny</button>
                        </form>
                    </span>
                    <form th:if="${#lists.contains(fremde, user)}" method="post" action="#" th:action="@{/users/befriend/{userid}(userid=${user.uid})}">
                        <button type="submit">Request</button>
                    </form>
                    <span th:if="${#lists.contains(revoked, user)}">Revoked...</span>
                </td>
            </tr>
        </table>
    </section>
</main>
<footer th:replace="~{import/footer :: footer}"></footer>
</body>
</html>