html { background-color: burlywood }

header#header { background-color: cornflowerblue; border-bottom: 5px solid brown; position: fixed; top: 0;
width: 100vw; padding: 0.5em 3em }
header#header ul { display: flex }
header#header ul li { background-color: #eee; margin: 0.1em 1em; padding: 0.1em 1em;
 display: block; }
header#header ul li:hover { background-color: #ccc; }

main { padding: 3em; margin: 8em 2em 2em 2em; background-color: linen }
aside { padding: 3em; margin: 8em 2em 2em 2em; background: #ccc }
.gridbody { display: grid; grid-template-columns: 3fr 1fr; }

section#show-updates { margin: 1em; padding: 1em; border: 2px solid black }
section#show-updates article { margin: 1em; padding: 1em; background-color: burlywood }
.one-update { border: 1px solid black; padding: 2em; margin: 2em; }
.one-update-headline { display: flex; justify-content: space-between }
.one-update-title { text-decoration: underline }
.one-update-author { font-size: 1.3em; color: grey }
.one-update-date { }

section#message-inbox { margin: 1em; padding: 1em; border: 2px solid black }

footer#footer ul { display: flex; position: fixed; bottom: 0; width: 100vw }