<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/social.css">
    <title>Blogs</title>
</head>
<body>
<header th:replace="~{import/header :: header}"></header>
<h1>Blogs</h1>
<section>
    <article th:each="blog : ${alleBlogEintraege}">
        <h2 th:text="${blog.title}"></h2>
        <h6 th:text="${blog.author.username}"></h6>
        <p th:text="${blog.content}"></p>
    </article>
</section>
<footer th:replace="~{import/footer :: footer}"></footer>
</body>
</html>